<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' type='text/css' href='css/bootstrap.min.css'>

    <link rel='stylesheet' type='text/css' href='css/my1.css'>
    <link rel="icon" type='image/x-icon' href="/img/favicon.ico">
    <title>Serv6</title>
  </head>
  <body>
    <div class="container">
      <div class="prepnav"></div>
      <div class="row">
        <div class="col-md-9">
          <header></header>
          <main>


<img src="img/express.jpg" width="300px" alt="">

<h1>Best regards for you!</h1>
<h2>My author 3</h2>

<% function key(key) { %>
  <li>
  	<div class="row">
  		<div class="col-md-4">
  			<%= key.author1 %>
  		</div>

  		<div class="col-md-8">
  			<a href='<%= key.path %>'><%= key.title1 %></a> 
  		</div>
  	</div>
 	</li>
 	<hr>
<% } %>


<ul>
  <% obj.map(key) %>
</ul>


<%- include('ft') -%>