</main>
<section class="prim"></section>
</div>

<div class="col-md-3">
<div id="clogl">
  <span id="navDate"></span><br>
  <span id="name1"></span><br>
  <span id="name2"></span>
  <ul id="scrl"></ul>
  <div id="result"></div>
  <img id="img" src="" width="261px">
</div>
</div>
</div>

<img src='img/end.jpg' width='720px'>
<footer>
<div class="foot" align='center'>
Copyright 2018. Homework
</div>
</footer>


</div>
<script src="js/navdate.js"></script>
<script src="js/brr5.js"></script>
<script src="js/hrr2.js"></script>
<script src="js/prm.js"></script>
<script src="js/snos8.js"></script>
<script src="js/for6.js"></script>

</body>
</html>
