

<div>


<h1><span>Ракета летит на
Луну?</span></h1>

<h2>А.И.Попов</h2>

<p><span> </span></p>

<p><span> </span></p>

<p>



<span>     </span><span>Космический полёт немыслим
без ракеты. И пусть ещё много забот впереди - корабль, жизнеобеспечение
астронавтов в полёте, посадка и взлёт с Луны, возвращение на Землю и многое, многое
другое. Но всё это имеет смысл, только если есть ракета. </span></p>

<p><span>    
<b>Есть лунная ракета – можно мечтать о полётах на Луну.</b> В 60-е годы 
ХХ-<span>го</span> века СССР и США напряжённо работали над
созданием своих лунных ракет<b>.</b> Рассказ о советской лунной программе -
отдельная тема. Сейчас нас интересует американская лунная программа и, прежде
всего, американская лунная ракета. Она называлась «Сатурн-5».<span>    </span></span></p>

<p><b><span>Илл.1.</span></b><span> Американская ракета, якобы
несущая к Луне корабль «Аполлон-11» с астронавтами</span></p>

<p><span>http://www.hq.nasa.gov/office/pao/History/alsj/a11/ap11-KSC-69PC-413HR.jpg</span></p>

<p><span> </span></p>

<p><b><span><span>   </span>глава 1.<a>Краткая история
американской лунной ракеты</a> (7.4.13)</span></b></p>

<p><b><span><span>   </span>глава 2.<a>«Сатурн-5/Аполлон»
- это, действительно, была ракета-макет!</a> (14.2.17)</span></b></p>

<p><b><span><span>   </span>глава 3.<a>Американский “<span>Кроссроуд</span>”: охрана призрака</a> (22.11.17)</span></b></p>

<p><b><span><span>   </span>глава 4.<a>1970 год. Находка
в Атлантике. "Аполлон-13" в советском плену.</a> (3.9.17)</span></b></p>

<p><b><span><span>   </span>глава 5.<a>Выводы</a></span></b></p>

<p><i><span>.</span></i><b><span> </span></b></p>

<p><b><span>Глава 1. Краткая история американской лунной ракеты</span></b></p>

<p><span> </span></p>

<p><span>      
Разработкой лунной ракеты руководил директор Центра им. Маршалла (г. <span>Хантсвилл</span>), известный конструктор Вернер фон Браун. Для
начала  фон Браун  спроектировал ракету «Сатурн-1В» (илл.2а) со
стартовой массой 590т.  «Сатурн-1В» <b>[3]</b>. Это был по техническим
параметрам аналог нашего «Протона», но, как показала действительность, менее
жизнеспособный. Отталкиваясь от разработки «Сатурна-1В» фон Браун принялся за
создание «Сатурна-5» (илл.2б<span>,в</span>).</span><span> </span><span> </span></p>

<p><span>      
Вот её параметры по данным от НАСА: высота  в сборе с кораблём «Аполлон» -
110м <b>[1-4],</b> стартовая масса - от 2700 до 3800 т <b>[1, 2 ,13]. </b>В
основание её были поставлены невиданные до той поры сверхмощные двигатели </span><span>F</span><span>1. Каждый из них согласно НАСА имел тягу
около 700Т силы. Полезная нагрузка до 140т на НЗО и до 47 т на окололунную
орбиту. </span></p>

<p><b><span> </span></b></p>

<p><b><span><img></span></b></p>

<p><b><span> </span></b></p>

<p><b><span>Илл.2.</span></b><span> <b>а) </b>старт
ракеты «Сатурн – 1В», <b>б)</b> старт ракеты «Сатурн-5», <b>в)</b> ракета «Сатурн-5»
на площадке музея, отмечены сопла сверхмощных двигателей </span><span>F</span><span>1
, которые должны были обеспечивать старт лунной ракеты</span></p>

<p><span><a><span>http://www.hq.nasa.gov/office/pao/History/alsj/a410/ap7-S68-48788HR.jpg</span></a>    
<a><span>http://www.hq.nasa.gov/office/pao/History/alsj/a11/ap11-KSC-69PC-241HR.jpg</span></a></span></p>

<p><span> </span></p>

<p><span>      
       НАСА и её </span><span>добровольные
помощники утверждают, что история создания «Сатурна-5» - это сплошная цепь
успехов <b>[4,6,7,10,14,15].</b> Однако на самом деле, она не так проста.</span></p>

<p><span> </span></p>

<h4><span>Провал итоговых испытаний ракеты 4 апреля 1968 года </span><span> </span><span><o:p></o:p></span></h4>

<h4><span> </span><span><o:p></o:p></span></h4>

<h4><span>      
Я. Голованов пишет </span><span>[16]</span><span>: <i>«Разработка
«Сатурна-5» началась в 1962 году. В мае 1966 года на испытаниях в Сент-Луисе
взорвалась вторая ступень ракеты.  Старт, наконец, состоялся 9 ноября 1967
года».</i> Он по сообщениям НАСА прошёл успешно. Но второе - последнее, а
потому итоговое испытание, состоявшееся 4 апреля 1968 года под названием
"Аполлон-6", провалилось.</span><span><o:p></o:p></span></h4>

<p><span>      
</span><i><span>«Буквально
с первых секунд полёта "Аполлон-6" засыпал командный пункт сигналами
о всевозможных отказах. Обе главные задачи испытаний не были выполнены: ракета
работала плохо… «Лунная программа страны натолкнулась на новую трудность», -
комментировала «Вашингтон пост». Откровенно говоря, мы не знаем, в чём дело, -
разводил руками директор программы «Сатурн-5» Артур Рудольф» </span></i><b><span>[16]</span></b><span>.  
Итак,  провал. </span></p>

<p><span>      
Я. Голованов отмечает, что его книга <b>[16]</b> написана по «горячим» следам
событий. Он встречался с американскими специалистами и астронавтами. Так что,
можно полагать, что Я. Голованов точно отразил то, что дошло тогда от НАСА до
прессы. Его книга написана с позиции абсолютной уверенности в полётах
«Аполлонов» на Луну. И если уж он описал столь безрадостную картину испытания,
то, значит, «Сатурн-5» действительно провалился на итоговых испытаниях. </span></p>

<p><span> </span></p>

<p><span>  
    На современном сайте НАСА <b>[2, см. также Приложение]</b>
информация об испытаниях 4 апреля 1968 года подаётся более сдержанно (см.
мелкий шрифт), но с тем же печальным финалом</span><span>: </span><b><i><span>"Испытания
"Аполлона-6",таким образом, официально признаны неуспешными".</span></i></b></p>

<p><i><span>*Во
время работы первой ступени - осцилляции и резкие скачки показаний;</span></i></p>

<p><i><span>*Через
2 минуты по всей конструкции  возникли вибрации, превышающие допустимые
пределы;</span></i></p>

<p><i><span>*Во
время работы  второй ступени выключились два двигателя из пяти. Оставшиеся
двигатели работали несинхронно и выключились в разное время; </span></i></p>

<p><i><span>*Во
время работы третьей ступени  двигатель работал на 29 с дольше, чем надо,
в результате чего была сформирована резко эллиптическая орбита <span>вместо</span> необходимой круговой;</span></i></p>

<p><i><span>*Повторное
включение двигателя для перехода на начальный участок траектории полёта к Луне
не удалось;  </span></i></p>

<p><i><span>*Скорость
входа корабля в атмосферу не соответствовала той, что имеет место при
возвращении корабля из окрестности Луны, а место посадки отстояло от
намеченного на 90 км.</span></i></p>

<p><b><i><span>“Apollo 6, therefore, was officially judged as not a
success”. </span></i></b><span><o:p></o:p></span></p>

<p><span> </span><span><o:p></o:p></span></p>

<p><span>      
  </span><span>А что американцам помешало вообще скрыть неудачу? Неужели
честность? Вот что рассказал автору <span>Е.В.Иванов</span>,
москвич, бизнесмен, а в середине 80-х - матрос на корабле <span>Краснознаменного</span>
Тихоокеанского Флота СССР:</span></p>

<p><span>      
 <i>«В зоне нашего плавания находился космодром <span>Пойнт-Мугу</span>,
с которого американцы запускали баллистические ракеты. В то время между СССР и
США шла борьба за максимальное количество боеголовок на одной ракете. Мы
наблюдали за вхождением в плотные слои атмосферы головных частей американских
ракет, считали количество отделяющихся боеголовок и тем самым помогали
установить истинные возможности США в этом соревновании. Несколько раз мы
видели, что отделялось на несколько боеголовок меньше, чем положено. Но на
следующий день американские радио и ТВ сообщали об успешном завершении
испытаний». </i></span></p>

<p><span>     
Как же плохо должны были закончиться 4 апреля испытания «Сатурна-5», если сама
НАСА написала <i>«официально признаны неуспешными»</i>?<span>
</span> 10 апреля  1968 года помощник Главкома ВВС по космосу, начальник
Центра подготовки космонавтов, генерал Н.П. <span>Каманин</span>
(илл.2б) записал в своём дневнике:  «<i>По-видимому, американцам <span>придется</span> выполнить <span>еще</span> один пуск
«Сатурна-5»  с  «Аполлоном» без астронавтов на борту»</i> <b>[11]. </b></span></p>

<p><span> </span></p>

<p><b><span>Провал – не помеха! Летим с экипажем на борту и к
Луне</span></b><span>!</span></p>

<p><span>(Неожиданное
решение НАСА – безумная авантюра или холодный блеф?)</span></p>

<p><b><span> </span></b></p>

<p><span>      
 </span><span>Прошло
всего 19 дней и НАСА принимает совершенно неожиданное решение.  Вот что
пишет об этом Я. Голованов <b>[16]:</b></span></p>

<p><span>      
 <i>«К моменту первого полёта астронавтов ни корабль, ни его носитель не
были отработаны. <b>Два пуска "Сатурна-5",  из которых
один  был неудачным, не могли никого убедить в надёжности данной ракеты. </b>Все
были уверены, что состоится третий испытательный полёт, <b> но после
совещания в <span>Хантсвилле</span> 23 апреля руководители
программы рекомендовали провести следующий полёт "Сатурна-5" с
участием людей.</b> Эти рекомендации обсуждены с членами сенатской комиссии по
аэронавтике и исследованиям космоса и приняты к исполнению». </i>Эта информация
подтверждается на сайте НАСА <b>[2].</b>    В общем, летите,
ребята к Луне, а по дороге испытайте всё, что не получилось испытать без
экипажа <b>[17]</b>.</span></p>

<p><span> </span><span><o:p></o:p></span></p>

<p><span><img></span><span><o:p></o:p></span></p>

<p><b><span>Илл.3. </span></b><span>Специалисты удивлены
решением НАСА: </span><span><o:p></o:p></span></p>

<p><b><span>а) </span></b><span>профессор Б. <span>Ловелл</span> (Англия): <b>"Это <span>чертовски</span>
глупо"</b>;<b>  б) </b>генерал Н.П. <span>Каманин</span>:
<b>«Я считаю это чистейшей авантюрой»</b>, <b>в) </b>академик В.П. Мишин «<b>не
верил</b> в то, что американцы уйдут с околоземной орбиты к Луне»</span><span><o:p></o:p></span></p>

<p><span>        ф<span>7</span>«Ссылки-2», </span><span><a><span>http://airbase.ru/books/authors/rus/k/kamanin-n-p/files/ris-kam3-300.jpg</span></a> 
<a><span>http://www.mai.ru/colleges/war/ballist/books/Chertok-RocketsandPeople4/foto/3.jpg</span></a></span></p>

<p><i><span> </span></i></p>

<p><i><span> </span></i></p>

<p><i><span> </span></i><span>    
      Известный английский астроном, профессор Б.
<span>Ловелл</span> (илл.3а) сказал тогда: <i>"Мысль об этом
полёте угнетает меня. <b>Это <span>чертовски</span> глупо</b>"</i>
<b>[16]<i>.</i></b> </span></p>

<p><span>        </span><span>К мнению
проф. <span>Б.Ловела</span> присоединился и тогдашний <span>рукодитель</span> советских космических программ от АН СССР
академик А. Благонравов. Об этом автору написал коллега Д. <span>Кропотов</span>:</span></p>

<p><i><span>«….очень
рекомендую просмотреть книгу <span>В.Губарева</span></span></i><span> <em><span>'Космические мосты' - Москва: Молодая
гвардия, 1976</span></em><em><span> - с.208 </span></em><i>. Вот, например, интересный факт о
солидарности нашего академика <span>А.Благонравова</span> с
мнением <span>Б.Ловелла</span> о полете А-8:</i></span></p>

<p><i><span>«<b>Я
полностью разделяю точку зрения Б. <span>Ловелла</span></b>,
который заявил, что преждевременный вывод космического корабля с тремя космонавтами
на борту на окололунную орбиту не может быть оправдан научными соображениями.
Как астроном он «считает неоправданным чрезмерный риск, которому подвергаются
жизни людей на данном этапе ради получения дальнейшей научной информации о
Луне». Действительно, <span>еще</span> недостаточно хорошо
известна обстановка вокруг Луны и на ее поверхности. Необходима высокая <span>надежность</span> всей техники, применяемой для столь сложного
эксперимента. В частности, при старте «Аполлона-8» используется ракета-носитель
«Сатурн-5». До этого пуска она опробовалась всего дважды - 9 ноября 1967 года и
4 апреля 1968 года. Если при первом пуске все прошло благополучно, то второй
нельзя признать достаточно удачным. Недавно появилось сообщение об обнаруженной
при подготовке ракеты неисправности. Я представляю себе, с какой треногой
бьются сейчас сердца всех, кто связан с этим экспериментом». (<a><span>http://12apr.su/books/item/f00/s00/z0000010/st006.shtml</span></a>)</span></i><span><o:p></o:p></span></p>

<p><span> </span></p>

<p><span>       
Н.П. <span>Каманин</span> так отреагировал на решение НАСА: «<i>США
намерены в декабре осуществить <span>облет</span> Луны <span>кораблем</span> «Аполлон-8» с тремя астронавтами на борту. <b>Я
считаю это чистейшей авантюрой</b>:<b> </b>американцы не имеют опыта
возвращения кораблей на Землю со второй космической скоростью<b>, </b>да и
ракета «Сатурн-5» <span>еще</span> недостаточно <span>надежна</span> (было выполнено всего два пуска, один из которых
оказался неудачным).<b> </b>Вероятность печального исхода такого <span>полета</span> очень велика…Америка в четыре раза ближе к позору и
проклятиям за поспешность и необдуманность «рывка к Луне», чем к славе и
торжеству»</i> <b>[11]</b><i>.</i></span><span><o:p></o:p></span></p>

<p><span>     
По свидетельству <span>В.Губарева</span> <b>[16]</b> и преемник
С.П. Королёва, академик В.П. Мишин (илл.3в) тоже<i> « <b>не верил</b> в то, что
американцы уйдут с околоземной орбиты, уйдут к Луне. Он был глубоко <span>убежден</span>, что этого не может случиться…». </i></span></p>

<p><span>      
Исходя из известной им информации, такие специалисты, как <span>Б.Ловелл</span>,
А. Благонравов, Н..<span>Каманин</span>, и <span>В.Мишин</span>
были абсолютно правы. Ведь на карту были поставлены  человеческие жизни.<span> </span>Но, может быть, им было неизвестно что-то об истинном
содержании того, что называлось полётами на Луну? </span></p>

<p><span> </span></p>

<p><span>Так
или иначе, но год от года  информация о блистательных полётах на Луну всё
прочнее внедрялась в сознание.</span></p>

<p><span>     
  Уже в 1970 году советский справочник <b>[6] </b>писал о втором
испытании уже гораздо мягче: <i>«…4 апреля 1968 года в полёте <b>имел место ряд
отказов</b>, программа выполнена не полностью».</i></span><span><o:p></o:p></span></p>

<p><span>     
Ещё мягче написал в 1981 году автор советского учебника <b>[4]</b>: <i>«За
время лётных испытаний «Сатурна-5» <b>имел место, по существу, один серьёзный
отказ</b>, когда на беспилотном испытательном пуске «Аполлон-6» вышел из строя
один из боковых двигателей второй ступени. Однако лётное испытание не было
прервано, хотя от полной программы и пришлось отказаться». </i>Автор учебника
даже не удосужился сверить то, что он пишет с информацией НАСА. Ведь НАСА
однозначно указала, что <i> «Во время работы  второй ступени
выключились два двигателя из пяти».</i></span></p>

<p><span>      
А потом в российских изданиях исчезли и эти критические нотки, и пошло сплошное
восхваление.  <i>«<b>Все запуски «Сатурна-5» прошли удачно»</b></i> -
пишет С. Александров <b>[7, с. 117]</b>.  </span><span><o:p></o:p></span></p>

<p><span> </span></p>

<p><span>      </span><span> Итак по данным
НАСА, с энтузиазмом повторяемым её апологетами, именно после провала итогового
испытания ракеты от 4 апреля 1968 года и после неожиданного решения НАСА от 23
апреля того же года для этой самой ракеты наступает цепь непрерывных успехов. </span></p>

<p><span>     
21 декабря 1968 года через восемь месяцев после провального беспилотного
испытания  «Сатурн-5» опять стартовал, но уже (согласно НАСА) неся корабль
«Аполлон-8» с экипажем на борту прямиком к Луне <b>[17,18].</b> А потом в
течение 1969-1972 <span>г.г</span>. на "Сатурне-5"
стартовали ещё 9 пилотируемых "Аполлонов" <b>[18]</b>. Правда с одним
из «Аполлонов» (конечно с №13) вышла накладка, но всё закончилась “хэппи-эндом”<b>.</b><span> </span>А 14 мая 1973 года, если верить НАСА,  «Сатурн-5»
показал себя в последний раз и вывел на НЗО орбитальную станцию «<span>Скайлэб</span>», масса которой впечатляет и по нынешним меркам –
75 т <b>[7, 19]</b>. Правда, на фоне этого непрерывного везения в Центре имени
Маршалла (Хьюстон, Алабама), где создавался «Сатурн-5», произошли два странных
и потому не очень афишируемых события. </span></p>

<p><b><span> </span></b></p>

<p><b><span>В связи с выдающимися успехами в
разработке ракеты временно уволить 700 сотрудников Центра! </span></b></p>

<p><b><span>Главного конструктора и
директора Центра Вернера фон Брауна освободить от названных должностей на постоянной
основе! </span></b></p>

<p><i><span> </span></i></p>

<p><i><span>       
</span></i><span>В
том же 1968 году, в котором провалились последние беспилотные испытания
«Сатурна-5», <b><i>семьсот </i></b> сотрудников Центра получили
уведомления о «временном увольнении»<i> </i><b>[16]</b>. Прошло ещё 2 года.
 К январю 1970 года НАСА сообщила уже о пяти успешных стартах пилотируемых
кораблей «Аполлон» (от А-8 до А-12). И тогда бессменный директор Центра,
главный конструктор многих ракет и космических систем, главный конструктор
ракеты «Сатурн-5» Вернер фон Браун освобождается от должности и отстраняется от
руководства ракетными разработками. И не «временно», а навсегда <b>[20-24]</b>.
</span></p>

<p><span>      
Бытует утверждение, что фон Браун был директором НАСА и руководил американской
лунной программой. Ни того, ни другого не было. Руководил лунной программой
Роберт (Боб) <span>Гилрут</span> <b>[25]</b>. Но в истории
ракетной техники фон Браун занимал, конечно, выдающееся место <b>[20-24]</b>.
Ему было всего 24 года, когда под его руководством в нацистской Германии была
создана первая в мире баллистическая ракета («Фау-2»).<span> </span>В
конце войны на территории Германии американцы устроили «охоту» на немецких
специалистов и учёных. Соответствующая <span>разведоперация</span>
под названием «Скрепка»  описана в <b>[21,22],</b> откуда взяты
нижеследующие цитаты.</span></p>

<p><span>        
Фон Браун <i>«прекрасно понимал значимость своей персоны и  сам искал
контактов с </i>(американской) <i>разведкой».  </i>Он<i> «сдался сразу
после разгрома нацистской Германии. <b>Когда он сдавался в плен, он выглядел
больше как знаменитость, а не как пленник»</b> </i>(илл.4а)<i>.</i></span></p>

<p><i><span> </span></i></p>

<p><b><span><img></span></b></p>

<p><b><span>Илл.4</span></b><span>. <b>а)</b> Фон Браун сдаётся в плен
американцам  (его левая рука сломана в автоаварии), <b>б) </b>фон
Браун  и президент США Д. Ф. Кеннеди</span></p>

<p><span><a><span>http://waralbum.ru/wp-content/uploads/yapb_cache/dornberger_axter_von</span></a>  
<a><span>http://img821.imageshack.us/img821/8185/kennedyvonbraun19may630.jpg</span></a></span></p>

<p><span> </span></p>

<p><span>К
тому же фон Браун <i>«организовал  сдачу американцам 500 самых лучших
ракетных специалистов вместе с их планами и опытными образцами».</i> Став
гражданином США, фон Браун продолжил разработки ракетной техники. Его ракеты
вывели в космос первый американский спутник и первого американского космонавта.
В 1960 году его ракетно-конструкторский центр был подчинён НАСА (ныне - Центр
космических полётов имени Маршалла). Фон Браун стал его первым директором. <i>««Вашингтон
пост» писала:<b> </b>«Последние 25 лет он был главным ракетчиком страны»».</i>
За его работами внимательно следили высочайшие власти США (илл.4б).  </span></p>

<p><span>     
И вот в год начала полётов на Луну (1968) у якобы создателя лунной ракеты
сначала отнимают 700 сотрудников. А через два года (1970) на самом пике
«лунного» успеха США его совсем отодвигают от руководства конструкторскими
работами <b>[20-22].</b> В этот момент ему 58 лет. Для крупного руководителя –
вполне нормальный творческий возраст. Формулировка «по состоянию здоровья» в
его биографиях отсутствует (умер фон Браун через 7 лет). Один из руководителей
НАСА говорил, что фон Браун <i>«стал похож на дирижёра, внезапно оставшегося
без оркестра»</i> <b>[22].</b>  Формально ему поручают почётную работу - <i>«руководство
деятельностью по стратегическому планированию, но менее чем через 2 года он
решил уволиться из НАСА».</i>  <i>«Ему предложили отменить дорогостоящие <span>полеты</span> на Луну. Видимо, фон Браун не послушался, поскольку
вскоре <b>его отправили в отставку</b>. На проводах было сказано много <span>теплых</span> слов, но барон, как всегда, ничем не выдал своих
чувств».</i> Он ушёл в отставку <i>«глубоко разочарованным»</i></span><span>
</span><b><span> [23,24]</span></b><span>.</span><span><o:p></o:p></span></p>

<p><span>     
Бытует объяснение этого факта нацистским прошлым «ракетного барона». Мнение
американцев по поводу нацистской опасности от немецких учёных, ясно выражено в
инструкции руководителя операции «Скрепка»: <i>«Если они представляют для нас
определённый научный интерес, то<b> </b>их<b> </b>политическое прошлое не
играет никакой роли».  </i>К тому же с 1945 года по 1970 прошло 25 лет.
Дать американское гражданство, доверить быть главным ракетным конструктором
страны, доверить американские первый спутник и первого космонавта, а потом
вдруг вспомнить про нацистское прошлое – звучит неправдоподобно. </span><span><o:p></o:p></span></p>

<p><span>      
Всего согласно НАСА после неудачных испытаний 4 апреля 1968 года было якобы
осуществлено десять блистательных стартов ракеты (илл.5). Получается, что <b>фон
Браун освобождён от должности в связи с достигнутыми успехами?</b> Звучит, по
меньшей мере, странно. И тогда возникает вопрос: а <b>удалось ли фон Брауну
создать лунную ракету?  Если да, то за это не «освобождают». Если нет, то,
что это за ракета с такой помпой стартовала с космодрома на мысе Канаверал? </b></span></p>

<p><span> </span></p>

<p><span><img></span></p>

<p><b><span>Илл.5</span></b><span>. 
 «Освобождённый за достигнутые успехи» генеральный конструктор лунной ракеты
Вернер фон Браун на фоне фотографий десяти запусков кораблей «Аполлон» и
станции «<span>Скайлэб</span>»</span></p>

<p><span><a><span>http://upload.wikimedia.org/wikipedia/commons/f/ff/Wernher_von_Braun.jpg</span></a> 
<a><span>http://upload.wikimedia.org/wikipedia/commons/e/e6/Saturn_V_launches.jpg</span></a></span><span><o:p></o:p></span></p>

<p><span> </span></p>

<p><b><span>Почему
«рекордсмен» «Сатурн-5» все рекорды совершил без посторонних свидетелей? </span></b></p>

<p><span>      
</span></p>

<p><span>      
Если верить НАСА, то «Сатурн-5» - бесспорный рекордсмен среди ракет, чей рекорд
продержался 20 лет (до появления советской ракеты «Энергия»).  Но обратите
внимание на то, что результаты рекордов «лунной» ракеты фиксировались без
посторонних свидетелей.</span></p>

<p><span>  
</span><span>    Только
до 1986 года на «Союзах» летали 11 иностранных космонавтов <b>[26]</b>. В
настоящее время «Союзы» доставляют интернациональные экипажи на МКС. Более
тяжёлые советские ракеты «Протон» выводили на орбиту модули для МКС. Так что
грузоподъёмность советских ракет известна иностранным специалистам по их
собственному опыту.</span><span><o:p></o:p></span></p>

<p><span> </span></p>

<p><span>      
А что советские или другие иностранные специалисты могли сказать на своём опыте
о грузоподъёмности «Сатурна-5»? Ничего! За четыре года стартов «Аполлонов» «на
Луну» никому в НАСА  не пришло в голову пригласить в полёт кого-нибудь из
представителей не американской части человечества? Как тут не вспомнить
американца <span>Пири</span>, который в 1909 году якобы «покорил» Северный
полюс, но сделал это без квалифицированных свидетелей. Единственного грамотного
участника экспедиции он отправил назад и остался с эскимосами, слугой негром и
собаками <b>[43]</b>.</span><span><o:p></o:p></span></p>

<p><span>      
Возможно, что при первых стартах «на Луну» американцам было не до дипломатических
тонкостей. Но хотя бы в последний полёт взяли бы, для порядка, хоть одного не
американца. Ведь американцы так любят говорить о своей открытости. Нет, не
взяли. И никто из граждан других стран не встречался в космосе с теми
сверхтяжёлыми объектами, которые якобы выводил на орбиту «Сатурн-5». А пока
рекорд не подтверждён сторонними свидетелями, всегда есть основания сомневаться
и в рекорде и в самом рекордсмене. </span><span><o:p></o:p></span></p>

<p><span> </span></p>

<p><b><span>Музейный
период. Прекращение использования ракеты</span></b></p>

<p><i><span> </span></i></p>

<p><span>      
После окончания программы «Аполлон» и запуска «<span>Скайлэба</span>»
остались ещё три "Сатурна-5" по 430 млн. $ каждый <b>[2].</b> В НАСА
пошли разговоры об использовании их для запуска международной орбитальной
станции. Но разговорами всё и окончилось, и в декабре 1976 года ракеты были
поставлены в музеи (илл.1в). И стоила эта экспозиция  3х430 = 1300 млн.
долларов – примерно половину всего тогдашнего годового бюджета НАСА <b>[27]</b>.
Этот «музейный» период  длится до сих пор.  </span></p>

<p><span>   
Тогда же «в отставку» был отправлен и  «Сатурн-1В». Но на смену ему пришли
шаттлы,  <span>обладавшие</span> сравнимой грузоподъёмностью <b>[28,29]</b>. 
А вот «отставку» тяжеловоза «Сатурна-5» компенсировать было нечем. Ведь он,
согласно НАСА, в 5 раз превосходил челноки по грузоподъёмности. Так почему после
окончания лунной программы и запуска «<span>Скайлэба</span>» он
спрятался на музейных площадках? </span></p>

<p><span>      
Этим вопросом задаётся в своих воспоминаниях и <b>Б. Е. Черток</b> <b>[12]</b>:<b>
<i>«Отказ США от хорошо отработанного, <span>надежного</span>
носителя «Сатурн-5» казался непонятным.</i></b><i> <b>Американские историки
космонавтики, с которыми я встречался, не могли внятно объяснить,</b> <b>почему
«похоронили» отличный носитель «Сатурн-5». «<span>Соединенные</span>
Штаты… в <span>свое</span> время по собственной дурости похоронили
<span>надежную</span>, мощную и экологически чистую ракету
«Сатурн-5»</b></i><b>[30].</b><i> </i>  Но в высказывании насчёт <i>«собственной
дурости» </i>американцев Б.Е. Черток, возможно, совершает ошибку, типичную для
честного человека. В том, что касается <i>«отличного носителя»</i>, то
неизвестно, кто оказался «в <span>дураках</span>»: американцы или
вся остальная часть человечества, включая наших замечательных специалистов? </span></p>

<p><span>      
 А как российские добровольные помощники НАСА объясняют <i>«почему
похоронен отличный носитель»</i>? </span><span><o:p></o:p></span></p>

<p><span> </span><span><o:p></o:p></span></p>

<p><b><span>Как российские
защитники НАСА объясняют исчезновение «Сатурна-5»</span></b></p>

<p><b><span> </span></b></p>

<p><span>Ему стало
нечего возить</span></p>

<p><!--[if gte vml 1]><v:shape>
 <v:imagedata>
 <w:wrap>
</v:shape><![endif]--><!--[if !vml]--><img><!--[endif]--><b><span>       </span></b><b><i><span>«</span></i></b><i><span>Ей
стало нечего возить, потому что…масса даже самых «навороченных» спутников не
превышает 20 т»,</span></i><span> - пишут авторы статьи<b> </b>«Затраты и
результаты» <span>С.Александров</span> и В. <span>Пономарёва</span>
<b>[7, с. 126].</b> Не могут, видите ли, разработчики сообразить, что бы
ещё  полезного положить в спутник сверх <span>привычных</span>
20т. В действительности же, всё происходит наоборот.  Вот что рассказывает
о подготовке к запуску станции «Мир» <span>С.Громов</span> <b>[7]</b><span>.</span> </span></p>

<p><i><span>      
«В разгар подготовки к запуску обнаружили превышение общей массы  4,9т.
Как же удалось выйти из положения? -  на 1,3т подняли грузоподъёмность
носителя «Протон», на 0,3т сократили заправку двигательной установки, на 1,1т
снизили массу кабелей, 0,7 т выиграли за счёт уменьшения наклонения орбиты.
Последнее решение делало территорию России недоступной для наблюдения со
станции. А это резко снижало (если не сводило к нулю) полезность станции для
изучения собственно российских природных ресурсов». </span></i></p>

<p><b><span> </span></b></p>

<p><b><span>Илл.7.</span></b><span> <b> </b>МКС на
начальном этапе её строительства.  </span></p>

<p><span>[7, с. 217], автором нанесены кружки;</span></p>

<p><i><span> </span></i></p>

<p><span>      
Вот на какие жертвы приходилось идти из-за недостаточной грузоподъёмности
ракеты. Знали ли об этом авторы статьи «Затраты и результаты», когда писали «<i>масса
даже самых «навороченных» спутников не превышает 20 т</i>»? По, крайней мере,
один из них – С. Александров, знал. Потому что в той же самой книге <b>[7, с.
330]</b> через две сотни страниц, забыв, что по его же словам «<i>масса даже
самых «навороченных» спутников не превышает 20 т», </i>он пишет нечто
совершенно противоположное:</span></p>

<p><span>     
<i>«Настоящей причиной появления орбитальных станций явилось жесточайшее
ограничение по массе и объёму космических кораблей, определявшееся
грузоподъёмностью и размерами существующих ракет-носителей».</i>  Просто
удивительно, как один автор на разных страницах одной книги может выражать
столь противоположные мнения.</span></p>

<p><span>    
  Нашлось бы, «чего возить» «Сатурну-5» и в наше время, и не только
на Луну. Например, он мог бы вывести на орбиту просторную моноблочную
международную космическую  станцию (МКС).  В настоящее время МКС
собирается на орбите из блоков с массой не более 20 т (таково ограничение по
грузоподъёмности  ракеты «Протон»). На илл.6 показана МКС на начальном
этапе её строительства. Три модуля МКС имеют общую массу ~ 53т. Кружками
обведены стыковочные узлы между отдельными модулями станции.  На них 
приходится около 1/7 массы МКС, то есть около 9т.  Не многовато ли?  </span></p>

<p><span>      
А «Сатурн-5» якобы мог «одним махом» доставить на орбиту моноблочную станцию
массой в 130т. Такая станция была бы не только просторней и удобней для работы.
За счёт уменьшения числа стыковочных узлов проще и надёжнее стало бы её
устройство. Сократилось бы число стыковок, каждая из которых всегда остаётся
опасной процедурой, иногда приводящей к тяжёлым повреждениям <b>[7].</b> Так
что было бы что возить «отличному носителю» (по выражению Б.Е. Чертока). </span></p>

<p><span>  
   </span></p>

<p><b><span>Он  очень
дорог в изготовлении</span></b></p>

<p><b><span> </span></b></p>

<p><span>      
Приходится слышать и такое утверждение, что<b> </b>«он очень дорог в
изготовлении» <b>[7]</b>. Однако при разработке новых технологий или
изделий  только первые образцы стоят очень дорого, потому что в их
стоимость включается и стоимость их разработки. Стоимость же последующих
образцов гораздо ниже. Возьмём ту же самую ракету «Сатурн-5». Её разработка, а,
значит, и первый экземпляр стоил около 7 млрд. $. Но последующие экземпляры
стоили в 20 раз дешевле <b>[2]</b>.  В статье В.А. <span>Сурнина</span>
<b>[31]</b> проведено сопоставление стоимости доставки 1 кг полезного груза на
низкую околоземную орбиту различными носителями. Как известно большие надежды в
плане экономической эффективности НАСА возлагала на корабли многоразового
использования (шаттлы). Но эти надежды не оправдались. (<span>Сурнин</span>
пишет о причинах). При заявленной для <i>«отличного носителя»</i> полезной
нагрузке в 130 тонн доставка грузов на  околоземную орбиту согласно В.А. <span>Сурнину</span> обходилась бы в 5-7 раз дешевле, чем шаттлами. И
жизнь подтвердила его правоту: НАСА  прекратила полёты шаттлов в 2011
году. <span>После этого обеспечение работы МКС полностью
легло на ракеты «Союз», на одноимённые корабли «Союз» и на их грузовую
модификацию – корабли «Прогресс»  </span><b>[32]</b><span>.<b> </b></span></span></p>

<p><span> </span></p>

<p><b><span>Он очень дорог
в обслуживании</span></b></p>

<p><b><span> </span></b></p>

<p><i><span>      
«Ещё одно препятствие – сложность и стоимость обслуживания огромной ракеты» - </span></i><span>пишут
авторы статьи <b>[7, с. 126]</b>.<i>  «Один день обслуживания ракеты
«Сатурн-5», стоящей на стартовом столе, стоил 200 тысяч долларов» - </i>поясняет
автор <b>[16]</b>.<i> </i>По житейским меркам, 200 тысяч долларов – это,
конечно, огромная сумма. Но не по меркам космических запусков. Только модуль
«Заря» (масса 20т) для МКС стоит в 1000 раз больше – 220 млн. долларов <b>[33,34].</b>
А «отличный носитель» смог бы за один старт, поднять на орбиту 6 таких модулей
(на 1,3 миллиарда долларов). А ещё лучше один тяжёлый и просторный модуль,
чтобы космонавтам не тесниться в узких проходах, а просторно жить и удобно
работать. Так что расходы на обслуживание ракеты при запуске – это зачастую «копейки»
по сравнению со стоимостью запускаемой полезной нагрузки (в данном случае
0,01%). Самое время вновь вывозить на старт «Сатурн-5». Однако<span>,</span> не вывозят. Почему? На это у защитников подготовлен ещё
один аргумент.</span></p>

<p><b><span> </span></b></p>

<p><b><span>Пропали
чертежи, заводы и специалисты</span></b></p>

<p><b><span> </span></b></p>

<p><span>     
В журнале «Популярная механика» <b>[35]</b> его главный редактор А. Грек рисует
такую безрадостную картину: <i>«Сейчас наладить производство «Сатурна -
5"  нереально: не сохранилось ни полной документации, ни сборочных
заводов, ни специалистов».</i>  В общем, всё пропало. Давайте искать.</span><span><o:p></o:p></span></p>

<p><span>     
Первым делом надо найти чертежи. К счастью, пятью номерами раньше тот  же
журнал, но устами другого автора (Пола Эйзенштейна) порадовал таким сообщением <b>[36]</b>:
<i>«Ситуацию прояснил Пол <span>Шавкросс</span>, сотрудник
внутренней инспекции НАСА. Все чертежи самой большой в мире ракеты целы и
невредимы»</i>. Итак, есть чертежи.</span><span><o:p></o:p></span></p>

<p><span> </span><span><o:p></o:p></span></p>

<p><span><img></span><span><o:p></o:p></span></p>

<p><b><span>Илл.8.</span></b><span> <b>Завод
нашёлся, или чем занимались и занимаются в Центре им. Маршалла:</b></span><span><o:p></o:p></span></p>

<p><b><span>а)</span></b><span>
первая ступень ракеты «Сатурн-5»; <b>б)</b> - топливный бак  для челнока; <b>в)</b>
- производство модулей МКС</span><span><o:p></o:p></span></p>

<p><span><a><span>http://grin.hq.nasa.gov/IMAGES/LARGE/GPN-2000-000039.jpg</span></a>
 <b> </b><a><span>http://grin.hq.nasa.gov/IMAGES/</span><span>LARGE</span><span>/</span><span>GPN</span><span>-2000-000051.</span><span>jpg</span></a> <b>[37]</b></span><span><o:p></o:p></span></p>

<p><span> </span><span><o:p></o:p></span></p>

<p><span> </span><span><o:p></o:p></span></p>

<p><span>     
И завод, оказывается, цел. Самая громоздкая часть «Сатурна-5» - первая ступень,
производилась в Центре космических полётов им. Маршалла (<span>Хантсвилл</span>,
Алабама) (илл.8). В настоящее время  Центр продолжает  создавать
космическую технику. А кто же этим занимается, как не специалисты? <b>Итак,
разыскали и чертежи, и заводы, и специалистов.</b> </span><span><o:p></o:p></span></p>

<p><span>     
Но тут пришла другая беда, на которую защитники почему-то не обратили внимания,
но скептики мимо не прошли. </span><span><o:p></o:p></span></p>

<p><span> </span><span><o:p></o:p></span></p>

<p><b><span> </span></b><b><span>А куда пропали замечательные
двигатели </span></b><b><span>F</span></b><b><span>-1?
</span></b></p>

<p><span> </span></p>

<p><span>     
       Двигатель – сердце ракеты, причём,
сердце особенное – долгоживущее, допускающее пересадку из одного типа ракеты в
другой. </span></p>

<p><span>      
Посмотрите на рисунки и фото советских ракет-носителей от Р<span>7</span>,
запустившей первый спутник, до современных модификаций ракеты «Союз» (илл.9).
Даже неспециалисту видно, как одни и те же двигатели (на тех же боковых
ускорителях) переходят от ракеты к ракете. И, хотя с рождения боковушек прошло
уже полвека, ракета «Союз» на сегодня - одна из самых надёжных и экономически
эффективных ракет в мире в классе средней грузоподъёмности. Это вынуждены
признать и американцы. Недавно<i>  «руководитель NASA Чарльз <span>Болден</span> признал ракету "Союз" и одноименный
корабль самыми <span>надежными</span> в мире. Он заявил, что
"Союзы" должны быть для россиян предметом национальной гордости…,
через год  обеспечение международной космической программы, по сути,
останется за "Союзами" </i><b>[38]</b>.  </span></p>

<p><span> </span></p>

<p><span><img></span><b><span><img></span></b></p>

<p><b><span>Илл.9 </span></b><span>(слева). Семейство
ракет Р<span>7</span>. </span></p>

<p><b><span>Илл.10 </span></b><span>(справа)<b>.</b> <span>Где используются двигатели от «Энергии»: <b>а) </b>"Энергия"
и её двигатель, <b>б) </b>советская (российская) ракета «Зенит» и её двигатель,
<b>в)</b>  американский «Атлас» с  российским двигателем РД180.<span> </span></span></span></p>

<p><span> </span></p>

<p><span><a><span>http://epizodsspace.narod.ru/bibl/getlend/c2.jpg</span></a>
    <a><span>http://epizodsspace.narod.ru/bibl/getlend/c3.jpg</span></a> 
    <a><span>http://epizodsspace.narod.ru/bibl/getlend/c5.jpg</span></a></span></p>

<p><span><a><span>http://epizodsspace.narod.ru/bibl/getlend/c6.jpg</span></a> 
   <a><span>http://upload.wikimedia.org/wikipedia/commons/f/f4/Soyuz_TMA-5_launch.jpg</span></a></span></p>

<p><span><a><span>http://www.yuzhnoye.com/Aerospace%20Technology/Launch%20Vehicles/Zenit/Zenit%202/images/Zenit-2_r.jpg</span></a></span></p>

<p><span><a><span>http://www.lpre.de/energomash/RD-170/img/gallery/RD-171M.jpg</span></a>  
   <a><span>http://www.buran.ru/images/jpg/bbur38.jpg</span></a> 
<b>    </b><a><span>http://www.buran.ru/images/jpg/rd170b.jpg</span></a>   
<a><span>http://www.npoenergomash.ru/netcat_files/346/204/h_f7b30a4316fb0c2d861588422bc60d0a</span></a></span></p>

<p><span><a><span>http://www.npoenergomash.ru/netcat_files/346/204/h_2a849deab64d81f0c221baca6872531f</span></a></span></p>

<p><span> </span></p>

<p><span> </span></p>

<p><span>      
А какова судьба двигателей от наших сверхмощных ракет? Может с ними всё иначе и
с закрытием ракеты пропадает и двигатель? Ничего подобного. И здесь действуют
те же закономерности. Это можно проследить с помощью илл.10.</span></p>

<p><span>      
В 1987 году, почти через 20 лет после полётов «Сатурнов-5»  СССР смог
создать ракету «Энергия» (илл.10а) с примерно той же грузоподъёмностью <b>[39,
40]</b>, которую НАСА назвала для «Сатурна-5». В ней использовался сверхмощный
двигатель «РД-170». Вскоре в СССР началась перестройка и программа «Энергия»
была закрыта. Но ракета не исчезла бесследно для технического прогресса <b>[40]:</b></span><span> </span><i><span>«Двигатель боковых
блоков «Энергии» РД-170 используется как РД-171 на первой ступени
ракеты-носителя «Зенит» (илл.9б), а двигатель РД-180 (спроектированный на
основе РД-171) - в американской ракете «Атлас-5» (илл.9в)».</span></i><span> А с
недавнего времени американцы стали закупать и двигатели НК-33 от первой
советской лунной ракеты Н<span>1</span>. Итак, хороший двигатель не
пропадает, а используется очень долго. </span></p>

<p><!--[if gte vml 1]><v:shape>
 <v:imagedata>
 <w:wrap>
</v:shape><![endif]--><!--[if !vml]--><img><!--[endif]--><b><span>      
</span></b><span>Почему
же для новых мощных американских ракет не используются «родные» двигатели </span><span>F</span><span>-1 от "Сатурна-5"<b> </b>(конечно
усовершенствованные за прошедшие десятилетия)? Ведь если бы двигатели </span><span>F</span><span>-1 не только стояли на выставках
(илл.1в), но и работали, то это означало бы, что американские <span>двигателисты</span> намного опередили советских коллег. И по
логике прогресса к настоящему времени у НАСА должны иметься двигатели,
несравненно более совершенные. <b> </b>Но американцы почему-то покупают
российские двигатели. </span></p>

<p><span> </span></p>

<p><span>Говорит С.П. Королёв:</span></p>

<p><b><span>«Он решил создать <span>супердвигатель</span>
на 700-800 тонн тяги на криогенных компонентах. Пусть поковыряется, пока не <span>упрется</span> в стену. Мы уже это проходили»</span></b></p>

<p><b><span> </span></b></p>

<p><b><span>Илл.11.</span></b><span> С.П. Королёв - выдающийся
советский конструктор космической техники </span></p>

<p><i><span> </span></i></p>

<p><span>        
Н.В. Лебедев (см. приложение к главе 7), ветеран-ракетчик космодрома <span>Тюра</span>-Там (Байконур – его часть) рассказывает об интересном
споре, невольным свидетелем которого он стал в монтажно-испытательном корпусе
92-ой площадки <span>Тюра-Тама</span> <b>[41]</b>. Спорили главные
конструкторы Королёв и <span>Челомей</span> и президент АН СССР
Келдыш. <b>Нам важна из этого разговора одна фраза Королёва:<i> «Он </i>(фон
Браун – А.П.)<i> решил создать <span>супердвигатель</span> на
700-800 тонн тяги на криогенных компонентах. Пусть поковыряется, пока не <span>упрется</span> в стену. Мы уже это проходили».</i></b> 
И  Н.В. Лебедев продолжает: <i>«Очевидно, и сам Королев, и 
ракетчики-испытатели знали по собственному опыту, что громадный ОДНОКАМЕРНЫЙ
двигатель </i></span><i><span>F</span></i><i><span>1 с
криогенными компонентами топлива, на создание которого замахнулся фон Браун,
создать невозможно. По причине постоянно возникающих сгустков несгоревшей
топливной смеси. Отсюда уверенность, что фон Браун шёл в тупик, а <b>все
сообщения об успешной разработке </b></span></i><b><i><span>F</span></i></b><b><i><span>1  и ракеты «Сатурн-5»
на его основе - пропаганда</span></i></b><i><span>. Сам же Королёв в своей Н<span>1</span> пошёл на установку 30 двигателей с меньшими камерами. Тех
самых двигателей Кузнецова НК - 33, которые сейчас с удовольствием покупают
американцы</span></i><i><span>.</span></i></p>

<p><i><span> </span></i></p>

<p><i><span>    
</span></i><span>Когда
автор заканчивал работу над этой главой, он получил письмо от Н.В. Лебедева:</span></p>

<p><i><span>Александр
Иванович! Посылаю заметку Интерфакса. <a><span>http://www.interfax.ru/politics/news.asp?id=184417</span></a></span></i></p>

<p><i><span>«В
Москву на празднование 50-летия <span>полета</span> Юрия Гагарина приедет
главный администратор НАСА» 06 апреля 2011 года 09:34</span></i></p>

<p><i><span>.      
Вашингтон. INTERFAX.RU - Глава НАСА Чарльз <span>Болден</span>
приедет в Москву на празднование 50-летия <span>полета</span> Юрия
Гагарина, сообщил во<b> </b>вторник<b> вице-премьер правительства РФ Сергей
Иванов</b> на встрече с российскими журналистами в посольстве России в
Вашингтоне. Он проинформировал, что на этот юбилей съедутся руководители всех
космических агентств, которые существуют в мире. </span></i></p>

<p><i><span>"Будет
проведено заседание рабочей группы по космосу между Россией и США, где мы
обсудим, что будем делать вместе после 2020 года, когда МКС завершит свою
работу", - сообщил <span>С.Иванов</span>. "Уже сейчас
нужно думать, что мы будем делать дальше, а <b>любые космические проекты,
особенно связанные с <span>полетами</span> на дальние расстояния,
условно говоря, на Марс и Луну, осложнены технологической проблемой,</b> <b><u>связанной
с двигателем для корабля</u>", - сказал Иванов».</b></span></i><span>
(Конец сообщения INTERFAX.RU, выделение А.П.)</span></p>

<p><i><span>     
«Да, действительно, странно! - </span></i><span>комментирует Н.В. Лебедев, -<i>
40 лет назад был якобы создан двигатель для <span>трёхтысячетонной</span>
 лунной ракеты "Сатурн-5", а сейчас господин Иванов говорит о
каких-то проблемах с двигателем. По крайней мере, у американцев для полёта на
Луну таких проблем не должно быть (если верить НАСА). Это ли не
официальное признание правды о <span>неполётах</span> на Луну?
Добавлю, что одной из служебных обязанностей <span>С.Иванова</span>,
как зам. Председателя правительства РФ, является курирование всего
ракетно-космического комплекса страны. Так что, он по долгу службы является
одним из самых <span>осведомленных</span> людей в руководстве РФ в
области ракетно-космической техники  <b>[42]</b>».</i></span></p>

<p><i><span>    
</span></i><span>От
автора данной книги – нет сомнений, что глубокоуважаемый зампред в курсе того,
что в 1985 году СССР создал ракету «Энергия»,  у которой и двигатель, и
соответственно полезная нагрузка вполне соответствовали требованиям полёта
человека на Луну. Знал и то, что, несмотря на прекращение производства этой
ракеты, вся документация на её супермощные двигатели сохранилась и более того,
что сами двигатели, точнее их модификации успешно продаются в США. Поэтому его
слова, сказанные во время нахождения в США – стране, якобы 40 лет назад
покорившей Луну, можно понять, как откровенный камешек в американский огород.
  </span></p>

<p><span> </span></p>

<p><span>      
Подытожим те интересные факты, о которых мы узнали в этой главе:</span></p>

<p><span>    
1. Ракета «Сатурн-5» прошла, по данным НАСА, всего два беспилотных полётных
испытания – 9.11.1967 и 4.4.1968. Итоговое беспилотное испытание было признано
неуспешным самой НАСА. </span></p>

<p><span>    
2. После этого других беспилотных испытаний не проводилось, но следующий полёт
ракеты (декабрь 1968 года) был якобы пилотируемым, то есть с экипажем.</span></p>

<p><span>   
 3. В том же самом 1968 году НАСА решила вручить уведомления о «временном
увольнении»<i> </i>семистам конструкторам в  Центре им. Маршалла, где
велась разработка лунной ракеты.</span></p>

<p><span>    
4. Через 2 года после этого был освобождён от занимаемой должности директор
Центра, главный конструктор ракеты «Сатурн-5», Вернер фон Браун. Событие
произошло на фоне шумно рекламируемой кампании полётов на Луну, совершаемых
якобы именно на ракете «Сатурн-5». Но за успехи в разработке не увольняют. Ещё
через 2 года фон Браун ушёл из НАСА, будучи <i>«глубоко разочарованным»</i>.</span></p>

<p><span>    
 5. После завершения программы «Аполлон» и запуска станции «<span>Скайлэб</span>» «лунная» ракета никогда более не использовалась.
Не использовались и её якобы чудо - двигатели </span><span>F</span><span>-1. И это, несмотря на то, что, по
сведениям НАСА, у неё ещё оставались три такие ракеты. </span></p>

<p><span>      </span><span>6. Рекорд
грузоподъёмности (140 т на низкую околоземную орбиту), на который якобы был
способен «Сатурн-5», не имеет сторонних подтверждений.</span><span><o:p></o:p></span></p>

<p><span>     
7. С учётом тех 20 лет, на которые «Сатурн-5» якобы обогнал советскую
«Энергию», американцы должны быть далеко впереди нас в части создания сверхмощных
двигателей. А они покупают российские. Это ставит под сомнение сам факт
существования двигателей </span><span>F</span><span>-1,
а соответственно и ракеты «Сатурн-5», без которых она просто не могла взлететь.</span></p>

<p><span>     
8. Лично С.П. Королёв на основе собственного практического опыта, а не только
теоретических предположений, выражал твёрдое убеждение в невозможности
разработки сверхмощных двигателей </span><span>F</span><span>-1
по той схеме, которую выбрал Вернер фон Браун. </span></p>

<p><span>      
9. Через 40 лет после якобы стартов «на Луну» зам. Председателя правительства
РФ С. Б. Иванов, по своей должности<span> </span>один из
самых <span>осведомленных</span> руководителей РФ в области
ракетно-космической техники  констатирует отсутствие (у Америки)
двигателя, подходящего для полётов на Луну. </span></p>

<p><span> </span><b><span>      
А </span></b><b><span>тогда существовали ли в действительности
двигатели  </span></b><b><span>F</span></b><b><span>-1
и та ракета «Сатурн-5», которую только они могли поднять? </span></b></p>

<p><span>      
Основания для сомнений в их реальности, как видим, самые серьёзные. Что может
показать стороннему наблюдателю тот факт, что стартует не полноценная ракета, а
её макет? Только если он заметит какие-то отличия в её полёте от того, что
рассказывает НАСА. Поэтому главы 2 и 4 посвящены определению скорости полёта
лунных ракет.       </span></p>

<p><b><span> </span></b><span><o:p></o:p></span></p>

<p><b><span>Ссылки:</span></b><span><o:p></o:p></span></p>

<p><b><span>1.</span></b><span> НАСА </span><span><a><span>http</span><span>://</span><span>www</span><span>.</span><span><span>nasm</span></span><span>.</span><span><span>si</span></span><span>.</span><span><span>edu</span></span><span>/</span><span>collections</span><span>/</span><span>imagery</span><span>/</span><span><span>apollo</span></span><span>/</span><span><span>saturnV</span></span><span>.</span><span><span>htm</span></span></a></span><span>   </span></p>

<p><b><span>2.</span></b><span> НАСА <a><span>http://www.astronautix.com/lvs/saturnv.htm</span></a> 
- подробная хронология разработки и испытаний С5;  см. записи<b> </b>информация
о неудачном испытании 4 апреля 1968 года, стоимость разработки С5, стоимость
одной ракеты</span></p>

<p><b><span>3.</span></b><span> <b>а) </b></span><span><a><span>http</span><span>://</span><span>www</span><span>.</span><span><span>apollosaturn</span></span><span>.</span><span>com</span><span>/</span><span><span>ascom</span></span><span>/</span><span><span>saturnib</span></span><span>.</span><span><span>htm</span></span></a></span><span>  - 
описание ракеты "Сатурн – 1В";</span></p>

<p><span>    <b>б)</b> <a><span>http://www.apollosaturn.com/ascom/sibnews/section1.htm</span></a>   
- параметры "Сатурна-1В" и "Сатурна-5" </span></p>

<p><span>    <b>в</b></span><b><span>)</span></b><span> <a><span>http://www.apollosaturn.com/ascom/satvhist.htm</span></a> 
- “Saturn V Operational Flight History” - </span><span>краткая</span><span> </span><span>история</span><span> </span><span>полётов</span><span> </span><span>С</span><span>5</span><span><o:p></o:p></span></p>

<p><span>    </span><b><span>г)</span></b><span> <a><span>http://www.apollosaturn.com/ascom/s5news/p2-7.htm</span></a> 
-   грузоподъёмность С<span>1</span>, С1-В и С5</span></p>

<p><span>    <b>д)</b> <a><span>http://www.apollosaturn.com/ascom/s5news/p91-2.htm</span></a> 
-  о программе испытаний С5</span></p>

<p><b><span>4.</span></b><span> В. И. <span>Феодосьев</span>.
"<span>Осн</span>. <span>техн</span>. <span>ракетн</span>. <span>полета</span>", М.:
"Наука", 1981, с. 75-89, </span></p>

<p><span>    <a><span>http://www.skeptik.net/conspir/feodosev.
<span>htm</span></span></a></span><span> </span><span><o:p></o:p></span></p>

<p><b><span>5.</span></b><span> </span><span><a><span>http://www.nasm.si.edu/apollo/apollo.htm</span></a></span><span>   </span><span><o:p></o:p></span></p>

<p><b><span>6.</span></b><span> Маленькая энциклопедия. Космонавтика.
Под ред. академика В.П. Глушко. М.: СЭ, 1970, с.27</span></p>

<p><b><span>7.</span></b><span> Энциклопедия «Космонавтика». Под ред.
академика Б.Е. Чертока. М.: <span>Аванта</span>+, 2004, <span>с.с</span>. 117-118, 126, 186, 191-193, 325, 336,341</span></p>

<p><b><span>8.</span></b><span> <a><span>http://kuasar.narod.ru/history/ussr-moon-program/lk-700.htm</span></a> 
- подробное описание советской лунной программы</span></p>

<p><b><span>9.</span></b><span> <a><span>http://www.skeptik.net/conspir/append4.htm</span></a> 
-  советские программы лунных пилотируемых <span>полетов</span></span></p>

<p><b><span>10</span></b><span>. Первушин А. Битва за звёзды. М.,
«АСТ»,2003, с. 334-337</span></p>

<p><b><span>11.</span></b><span>  Н.П. <span>Каманин</span>. «Скрытый
космос»: 4-я книга – М., ООО ИИД «Новости космонавтики», 2001 г. – 384 с. </span><span><o:p></o:p></span></p>

<p><span>       </span><span><a><span>http</span><span>://</span><span>www</span><span>.</span><span><span>epizodsspace</span></span><span>.</span><span><span>narod</span></span><span>.</span><span><span>ru</span></span><span>/</span><span><span>bibl</span></span><span>/</span><span><span>kamanin</span></span><span>/</span><span><span>kniga</span></span><span>1/</span><span><span>obl</span></span><span>-</span><span>k</span><span>.</span><span>html</span></a></span><span> (см. записи от 10
апреля, 7 октября и 4 декабря 1968 года)</span><span><o:p></o:p></span></p>

<p><b><span>12.</span></b><span>Черток Б.Е. Ракеты и люди. Книга 4. Лунная гонка – М.:
Машиностроение, 1999.-576с,  <span>с.с</span>. 512, 515</span><span><o:p></o:p></span></p>

<p><span>      </span><span><a><span>http</span><span>://</span><span>www</span><span>.</span><span><span>epizodsspace</span></span><span>.</span><span><span>narod</span></span><span>.</span><span><span>ru</span></span><span>/</span><span><span>bibl</span></span><span>/</span><span><span>chertok</span></span><span>/</span><span><span>kniga</span></span><span>-4/</span><span><span>obl</span></span><span>-4.</span><span>html</span></a></span><span> </span><span><o:p></o:p></span></p>

<p><b><span>13.</span></b><span>  “A Look”, </span><span>август</span><span> 1969 </span><span>г</span><span>.,<span>  </span></span><span><a><span><span>ип</span></span><span>1</span></a></span><span>  «</span><span>Ссылки</span><span>-2»   </span><span><o:p></o:p></span></p>

<p><b><span>14 </span></b><span>. К. <span>Гэтланд</span>.
"Космическая техника", М.,Мир,1986, <a><span>http://www.epizodsspace.narod.ru/bibl/getlend/obl.html</span></a>
</span></p>

<p><b><span>15.</span></b><span>  В. <span>Яцкин</span>
и Ю. Красильников. «Летали ли американцы на Луну?» <a><span>http://www.skeptik.net/conspir/moonhoax.htm</span></a>
с.53</span><b><span><o:p></o:p></span></b></p>

<p><b><span>16.  </span></b><span>Я. Голованов, 
"<span>Правда</span> о программе </span><span>APOLLO</span><span>",
М.:  Яуза - ЭКСМО-Пресс, 2000 г с. 93-97, 110, 126, 191.</span></p>

<p><span>       <a><span>http://www.epizodsspace.narod.ru/bibl/golovanov/apollo/obl.html</span></a>,
ив38 «Ссылки-2».</span></p>

<p><b><span>17. </span></b><span><a><span>http://www.epizodsspace.narod.ru/bibl/ejeg/1969/69.html</span></a> 
(см. «Аполлон VIII»)</span></p>

<p><b><span>18.</span></b><span> </span><span><a><span>http</span><span>://</span><span>science</span><span>.</span><span><span>ksc</span></span><span>.</span><span><span>nasa</span></span><span>.</span><span><span>gov</span></span><span>/</span><span>history</span><span>/</span><span><span>apollo</span></span><span>/</span><span>flight</span><span>-</span><span>summary</span><span>.</span><span>txt</span></a></span><span>   - краткие данные о пилотируемых полётах 
"Аполлонов"          
</span></p>

<p><span>      <a><span>http://www.skeptik.net/conspir/append1.htm</span></a> 
-  о том же на русском  </span></p>

<p><b><span>19.</span></b><span> </span><span><a><span>http</span><span>://</span><span>www</span><span>.</span><span><span>astronautix</span></span><span>.</span><span>com</span><span>/</span><span>craft</span><span>/</span><span><span>skylab</span></span><span>.</span><span><span>htm</span></span></a></span><span>  </span></p>

<p><b><span>20.</span></b><span> <a><span>http://history.msfc.nasa.gov/vonbraun/bio.html</span></a> 
- биография Вернера фон Брауна</span></p>

<p><b><span>21.</span></b><span> Я. Голованов. «Дорога на космодром»,
М.: «ДЛ», 1983,  глава 5 «Крушение <span>возмездия<span>»с</span></span>. 374 – 400.  </span><span><a><span>http</span><span>://</span><span>www</span><span>.</span><span><span>epizodsspace</span></span><span>.</span><span><span>narod</span></span><span>.</span><span><span>ru</span></span><span>/</span><span><span>bibl</span></span><span>/</span><span><span>golovanov</span></span><span>/</span><span><span>doroga</span></span><span>/20.</span><span>html</span></a> </span></p>

<p><b><span>22</span></b><span>. Энциклопедия
«Космонавтика». Под <span>научной</span> ред. академика Б.Е.
Чертока. М.: <span>Аванта</span>+, 2004, </span><span>c</span><span>.57,
325</span></p>

<p><b><span>23</span></b><span>. См. ф<span>1</span> глава.26</span></p>

<p><b><span>24</span></b><span>. [<a><span>www.profile.ru</span></a>]<sup> </sup>http://www.profile.ru/items/?item=2090</span></p>

<p><b><span>25.</span></b><span>
http://www.novosti-kosmonavtiki.ru/content/numbers/214/42.shtml</span></p>

<p><b><span>26.</span></b><span>  "К звёздам",
"Планета", Москва, 1980,  с.266-267</span></p>

<p><b><span>27.</span></b><span> <a><span>http</span><span>://</span><span>history</span><span>.</span><span><span>nasa</span></span><span>.</span><span><span>gov</span></span><span>/</span><span>SP</span><span>-4029/</span><span>Apollo</span><span>_18-16_</span><span>Apollo</span><span>_</span><span>Program</span><span>_</span><span>Budget</span><span>_</span><span>Appropriations</span><span>.</span><span><span>htm</span></span></a> </span></p>

<p><b><span>28.</span></b><span> </span><span><a><span>http</span><span>://</span><span>www</span><span>.</span><span><span>astronautix</span></span><span>.</span><span>com</span><span>/</span><span>craft</span><span>/</span><span><span>chaenger</span></span><span>.</span><span><span>htm</span></span></a></span><span>. На русском  </span></p>

<p><b><span>29.</span></b><span> </span><span><a><span>http</span><span>://</span><span>www</span><span>.</span><span>buran</span><span>.</span><span><span>ru</span></span><span>/</span><span><span>htm</span></span><span>/</span><span><span>shutlniz</span></span><span>.</span><span><span>htm</span></span></a></span></p>

<p><b><span>30.</span></b><span> <a><span>http://nnm.ru/blogs/rasiel/akademik_boris_chertok_imenno_seychas_est_smysl_letet_i_stroit_bazy_na_lune/#cut</span></a></span></p>

<p><span>      <a><span>Академик Борис Черток: «Именно сейчас есть смысл
лететь и строить базы на Луне»</span></a> </span></p>

<p><b><span>31.</span></b><span> <span>В.А.Сурнин</span>. Некоторые проблемы
развития систем многократного использования <a><span>http://epizodsspace.testpilot.ru/bibl/iz-istorii/vkts.html</span></a></span><span><o:p></o:p></span></p>

<p><b><span>32. </span></b><span><a><span>http://www.utro.ru/news/2011/03/09/961095.shtml</span></a></span><span><o:p></o:p></span></p>

<p><b><span>33.</span></b><span> «Энциклопедия «Техника»», М., «<span>Аванта</span>»+,
1999, с.440</span><span><o:p></o:p></span></p>

<p><b><span>34.</span></b><span> <a><span>http://www.astronautix.com/craft/isszarya.htm</span></a></span><span><o:p></o:p></span></p>

<p><b><span>35.</span></b><span> «Популярная механика» №11(13), ноябрь
2003 г., с. 53 </span></p>

<p><b><span>36.</span></b><span> «Популярная механика» №6 (8), июнь
2003 г., с. 29 </span></p>

<p><b><span>37.</span></b><span> <span>Г.С.Хозин</span>.
"Великое противостояние в космосе" (СССР - США).- М.: Вече, 2001,
с.193<br>
<b>38.</b> <a><span>http://oko-planet.su/science/sciencenews/22364-nasa-priznalo-raketu-i-korabl-soyuz-samymi.html</span></a></span></p>

<p><b><span>39.</span></b><span> </span><span><a><span>http</span><span>://</span><span>www</span><span>.</span><span><span>astronautix</span></span><span>.</span><span>com</span><span>/</span><span><span>lvs</span></span><span>/</span><span><span>energia</span></span><span>.</span><span><span>htm</span></span></a></span></p>

<p><b><span>40.</span></b><span> <a><span>http://ru.wikipedia.org/wiki/%D0%AD%D0%BD%D0%B5%D1%80%D0%B3%D0%B8%D1%8F_%28%D0%A0%D0%9D%29</span></a></span></p>

<p><b><span>41.</span></b><span> <a><span>http://supernovum.ru/public/index.php?doc=169</span></a></span></p>

<p><b><span>42.</span></b><span> </span><span> </span><span>http://www.proza.ru/2011/04/07/1141
</span></p>

<p><b><span>43. </span></b><span><a><span>http://ru.wikipedia.org/wiki/%D0%9F%D0%B8%D1%80%D0%B8,_%D0%A0%D0%BE%D0%B1%D0%B5%D1%80%D1%82_%D0%AD%D0%B4%D0%B2%D0%B8%D0%BD</span></a></span></p>

<p><span> </span></p>

<p><b><span>Приложение.</span></b><b><span>  НАСА <a><span>http://www.astronautix.com/lvs/saturnv.htm</span></a> 
- информация об итоговом  неудачном испытании 4 апреля 1968 года
беспилотной ракеты «Сатурн – 5» («Аполлон – 6»). См</span></b><b><span>. </span></b><b><span>по</span></b><b><span> </span></b><b><span>данной</span></b><b><span> </span></b><b><span>ссылке</span></b><b><span> </span></b><b><span>раздел</span></b><b><span> </span></b><b><span><a><span>More...</span></a></span></b><b><span> - </span></b><b><span><a><span>Chronology...</span></a></span></b><span><o:p></o:p></span></p>

<p><span> </span><span><o:p></o:p></span></p>

<p><span><b><span>1968 April 4 - </span></b><span>.</span></span><span> 12:00
GMT - . <i>Launch Site</i>: </span><a><span>Cape Canaveral</span></a><span>. <i>Launch Complex</i>: </span><a><span>Cape Canaveral LC39A</span></a><span>. <i>LV Family</i>: </span><a><span>Saturn V</span></a><span>. <i>Launch Vehicle</i>: </span><a><span>Saturn V</span></a><span>. </span><i>LV <span>Configuration</span></i>:
<span>Saturn</span> V SA-502. </p>

<p><!--[if !supportLists]--><span><span>·<span>                   
</span></span></span><!--[endif]--><b><span>Apollo 6</span></b><span> - . <i>Payload</i>:
Apollo CM 020/ SM 014 / Apollo LTA-2R / S-IVB 502. <i>Mass</i>: 36,806 kg
(81,143 <span>lb</span>). <i>Nation</i>: </span><span><a><span>USA</span></a></span><span>. <i>Agency</i>:
</span><span><a><span>NASA Houston</span></a></span><span>. <i>Program</i>:
</span><span><a><span>Apollo</span></a></span><span>. <i>Class</i>:
</span><span><a><span>Moon</span></a></span><span>. <i>Type</i>:
Manned lunar spacecraft. <i>Spacecraft</i>: </span><span><a><span>Apollo CSM</span></a></span><span>; </span><span><a><span>CSM Parachute</span></a></span><span>. <i>Duration</i>: 2.43 days. <i>Decay Date</i>: 1968-04-<span>04 .</span> <i>USAF Sat Cat</i>: <span>3170 .</span> <i>COSPAR</i>:
1968-025A. <i>Apogee</i>: 184 km (114 mi). <i>Perigee</i>: 183 km (113 mi). <i>Inclination</i>:
32.5000 deg. <i>Period</i>: 88.20 min. <cite>Apollo 6</cite> (AS-502) was
launched from Complex 39A at Kennedy Space Center. The space vehicle consisted
of a Saturn V launch vehicle with an unmanned, modified Block I command and
service module (CSM 020) and a lunar module test article (LTA-2R).<o:p></o:p></span></p>

<p><span>Liftoff at 7:00 a.m. EST was normal but, during the first-stage (S-IC) boost
phase, oscillations and abrupt measurement changes were observed. During the
second-stage (S-II) boost phase, two of the J-2 engines shut down early and the
remaining three were extended approximately one minute to compensate. The third
stage (S-IVB) firing was also longer than planned and at termination of thrust
the orbit was 177.7 x 362.9 kilometers rather than the 160.9-kilometer
near-circular orbit planned. The attempt to reignite the S-IVB engine for the
translunar injection was unsuccessful. Reentry speed was 10 kilometers per
second rather than the planned 11.1, and the spacecraft landed 90.7 kilometers <span>uprange</span> of the targeted landing point.<o:p></o:p></span></p>

<p><span>The most significant spacecraft anomaly occurred at about 2 minutes 13 seconds
after liftoff, when abrupt changes were indicated by strain, vibration, and
acceleration measurements in the S-IVB, instrument unit, adapter, lunar module
test article, and CSM. Apparently oscillations induced by the launch vehicle
exceeded the spacecraft design criteria.<o:p></o:p></span></p>

<p><span>The second-stage (S-II) burn was normal until about 4 minutes 38 seconds
after liftoff; then difficulties were recorded. Engine 2 <span>cutoff</span>
was recorded about 6 minutes 53 seconds into the flight and engine 3 cutoff
less than 3 seconds later. The remaining second-stage engines shut down at 9
minutes 36 seconds - 58 seconds later than planned.<o:p></o:p></span></p>

<p><span><span>The S-IVB engine during its first burn, which was
normal, operated 29 seconds longer than programmed.</span></span><span> After two revolutions in a parking orbit, during
which the systems were checked, operational tests performed, and several
attitude maneuvers made, preparations were completed for the S-IVB engine
restart. The firing was scheduled to occur on the Cape Kennedy pass at the end
of the second revolution, but could not be accomplished. A ground command was
sent to the CSM to carry out a planned alternate mission, and the CSM separated
from the S-IVB stage.<o:p></o:p></span></p>

<p><span>A service propulsion system (SPS) engine firing sequence resulted in a
442-second burn and an accompanying free-return orbit of 22,259.1 x 33.3
kilometers. Since the SPS was used to attain the desired high apogee, there was
insufficient propellant left to gain the high-velocity increase desired for the
entry. For this reason, a complete firing sequence was performed except that
the thrust was inhibited.<o:p></o:p></span></p>

<p><span>Parachute deployment was normal and the spacecraft landed about 9 hours
50 minutes after liftoff, in the mid-Pacific, 90.7 kilometers <span>uprange</span> from the predicted landing area (27.40 N 157.59 W).
A normal retrieval was made by the U.S.S. <cite>Okinawa</cite>, with waves of
2.1 to 2.4 meters.<o:p></o:p></span></p>

<p><span>The spacecraft was in good condition, including the unified crew hatch,
flown for the first time. Charring of the thermal protection was about the same
as that experienced on the Apollo 4 spacecraft (CM 017).<o:p></o:p></span></p>

<p><span>Of the five primary objectives, three - demonstrating separation of
launch vehicle stages, performance of the emergency detection system (EDS) in a
close-loop mode, and mission support facilities and operations - were achieved.
Only partially achieved were the objectives of confirming structure and thermal
integrity, compatibility of launch vehicle and spacecraft, and launch loads and
dynamic characteristics; and of verifying operation of launch vehicle
propulsion, guidance and control, and electrical systems. <b>Apollo 6,
therefore, was officially judged in December as "not a success</b> in
accordance with . . . </span><span>NASA
<span>mission</span> <span>objectives</span>."
(скопировано 7.4.2013)<o:p></o:p></span></p>

<p><span> </span></p>

<p><span> </span></p>

<p><span>Последняя редакция
7.04.2013</span></p>

</div>




