body {
  background: #3F3F3F; color: #D6CCCC;
}

p {
  text-align: left;
  text-indent: 30px;
  font-size: large;
  padding-top: 20px;
}

h1,h2,h3,h4,h5,h6 {
  background: #313131;
  padding: 15px;
}

.hidden_all {display: none;}

.prm1 {display: none;}

blockquote {
  /*text-align: justify;*/
  /*font-style: italic;*/
  color: #CBCBCB;
  margin-left: 40px;
}

blockquote p {
  text-align: left;
  font-size: medium;
  margin-left: 40px;
}

ul {
  list-style: none;
}

li {
  margin-bottom: 5px;
}

.fixed { 
  width:262px;
  position:fixed;
  top: 30px; 
}

.current {
  color: #89B8E8;
}

#clogl {
  margin-top: 30px;
}

#scrl {
  height: 370px;
  overflow-y: auto;
  font-size: small;
  background-color: #2F2F2F;
  margin-bottom: 5px;
  padding-top: 15px;
}

.foot {
  background-color: #000;
  color: #ccc;
  height: 100px;
  padding-top: 40px;
  text-align: center;
}
.prim {
  /*display: none;*/
  font-size: 13px;
}
sup {
  font-size: 11px;
}

.ftn div {
  /*text-indent: 0.35cm; 
  
  font-style: normal; 
  font-weight: normal; 
  line-height: 120%; 
  widows: 2; 
  orphans: 2;
  
  font-size: 10pt;
  color: #DCDDFF;
  margin-top: 10px;*/
}
.ftn a {
  /*color: #6DF36D;*/
}
.ftn p {
  /*font-size: small;*/
}
.ftn1 {
	/*font-size: small;*/
  font-size: 14px;
	color: #A7C7D3;
}
.main div {
  font-size: 16px;
}
.titles {
  /*font-size: xx-large;*/
  color: #347AB6;
  font-weight: bold;
  text-align: center;
}

#name1, #name2 {
  font-size: 10pt;
  color: #559CD9;
  font-family: sans-serif;
}
.prepfoot {
  /*height: 500px;*/
}
.prepnav {
  height: 90px;
}

img {
  background-color: #fff
}